.toggleMsg {
    padding: 20px;
    h1{
        padding: 10px;
        border-radius: 15px;
    }
    .success {
        border: 5px solid mediumseagreen;
        background-color: lightgreen;
    }
    .warn {
        border: 5px solid orange;
        background-color: lightgoldenrodyellow;
    }
    button {
    width: 200px;
    background-color: blue;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}
}
