.fieldsI{
    background-color: rgba(0, 0, 0, 0.389);
    padding:20px;
    margin: 10px;
    width: 500px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;  
}

.fieldsI input{
    width: 80%;
    height: 30px;
    font-size: 24px;
}

.fieldsI button{
    background-color: skyblue;
    border: none;
    border-radius: 20px;
    color: blue;
    margin: 25px 0;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}
.fieldsI .clear{
    margin-top: 0;
    background-color: orange;
    color:white;
}

