.products{
   table{
    font-size: 26px;
    /* width: 700px; */
    background-color: rgba(0, 0, 0, 0.084);
    border-radius: 20px;
    padding: 10px;

    td,th{
        padding: 10px;
        border-radius: 10px;
    }
    thead{
        font-size: 32px;
        background-color: rgba(106, 9, 203, 0.474);
        text-align: center;
    }
    tbody{
        background-color:rgba(0, 255, 255, 0.256) ;
    }
   }
}