.textBoxI{
    border: 5px solid skyblue;
    padding:10px;
    width: 80%;
    margin: auto;
    text-align: center;
    textarea{
        border-color: blue;
        border-radius: 5px;
        width: 90%;
        font-size: 24px;
        height: 200px;
        margin: 0;
        padding:5%
    }
    button{
        background-color: navy;
        border: none;
        color: white;
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right:10px;
        margin-top: 5px;
    }
    p{
        background-color: black;
        border-radius: 10px;
        word-wrap: break-word;
        font-size: 24px;
        width: 80%;
        height: 500px;
        color: green;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        /* height: 300px; */
        border: 3px soild mediumaquamarine;
        font-family: cursive;
    }
}