* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid rgb(175, 58, 58); */
}
body{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-around;
}
header {
  padding: 10px;
  background-color: black;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  div>h1{
    display: flex;align-items: center;
    justify-content: center;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    li {
      padding: 5px;
      margin: 5px;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 24px;
      a {
        color: inherit;
      }
    }
    li:hover{
        background-color: steelblue;
        color: white;
        border-radius: 10px;
    }
  }
}

section {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
    aside {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        img {
            height: 150px;
        }
        ul{
            li{
                margin: 10px 0;
                padding: 5px;
                a{
                    color: white;
                }
            }
            font-weight: bolder;
            li:hover{   
                background-color: steelblue;
                color: white;
                border-radius: 10px;
            }
        }

    }
    main#about{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        p{
            margin-top: 25px;
        }

    }
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

@media (max-width:800px) {
    body{
        height: 100vh;
    }
    header{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        div{
            font-size: xx-large;
            width: 50%;
        }
        ul{
            display: flex;
            flex-direction: column;
            width: 30%;
            li{
                width: 100%;
                border-bottom: 2px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    section{
        flex-direction: column;
        place-items: center;
        padding: 10px;
        img{
            padding:5px;
            margin: 5px;
        }
        ul{
            display: none;
        }
        main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1,p{
                text-align: center;
            }
        }
    }

}

@media (max-width:500px) {
    
    header{
        flex-direction: column; 

    }
    section{
        flex-direction: column;
        place-items: center;
        padding: 10px;
        img{
            padding:5px;
            margin: 5px;
        }
        ul{
            display: none;
        }
    }
}
