.profileCard{
    text-align: center;
    margin: 5px;
    padding: 20px;
    width: 200px;
    border: 5px solid grey;
    border-radius: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    img{
        width: 50%;
    }
    button{
        background-color: lightblue;
        border: none;
        font-size: 14px;
        padding: 5px;
        border-radius: 5px;
    }
    button:active{
        background-color: orange;
        color: white;
    }
}
.profileCard:hover{
    background-color: lightcyan;
}